 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain"></i>
      <p>주로 사용하는 디자인</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-spring-original colored"></i>
      <i class="devicon-react-original colored"></i>
      
      <p>주로 사용하는 기술</p>
    </div> 
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-original colored"></i>
      <i class="devicon-vscode-plain colored"></i>
      <i class="devicon-eclipse-plain colored"></i>
      <p>주로 사용하는 툴</p>
    </div>
</div>
